.main
  .main__tweet
    .main__tweet-image
      = image_tag 'image.yu.jpeg', class: 'tweet-img'
    .main__tweet-user
      = image_tag 'image.yu.jpeg', class: 'u-avatar'
      .main__tweet-user_name
        ああああああ
    = fa_icon 'angle-double-down', class: 'icon'
    .main__tweet-text
      ああああああああああああああああああああああああああいいいいいいいいいいいいいいいいいいいいいいいいいいいいいうううううううううううううううううううううううううううううううううえええええええええええええええええええええええええおおおおおおおおおおおおおおおおおおおおおおおおおおおおお
  .main__tweet
  .main__tweet

  = fa_icon 'feather 8x'
