.main
  .main__new-form
    .main__new-form__top
      %textarea{:cols => "40", :rows => "5"}
    .main__new-form__bottom
      .main__new-form__bottom-image
        = fa_icon 'camera-retro 5x'
      = link_to '' do
        .main__new-form__bottom-btn
          Send Tweet
