.footer {
  // margin-top: 400px;
  box-sizing: border-box;
  width: 100%;
  line-height: 50px;
  vertical-align: 50px;
  text-align: center;
  position: fixed;
  bottom: 0;
  &-container {
    padding: 5px;
    display: inline;
    border: dashed 1px;
    border-radius: 10px;
  }
}
