.main {
  margin: 100px 0 50px;
  padding: 10px 60px;
}

.fa-feather {
  position: fixed;
  right: 80px;
  bottom: 80px;
  color: lightskyblue;
}

.btn-link {
  text-decoration: none;
}

.pagenate {
  text-align: center;
}
