.main {
  &__new-form {
    width: 800px;
    margin: 0 auto;
    &__top {
      padding-top: 50px;
      text-align: center;
      textarea {
        width: 80%;
        height: 100px;
        font-size: 20px;
        color: #19448e;
        border-radius: 10px;
      }
    }
    &__bottom {
      margin: 0 auto;
      padding-top: 30px;
      width: 300px;
      @include clearfix();
      &-image {
        float: left;
        .fa-camera-retro {
          color: #19448e;
        }
      }
      &-btn {
        font-size: 20px;
        color: #19448e;
        letter-spacing: 3px;
        font-weight: bold;
        border: solid 2px #19448e;
        border-radius: 5px;
        padding: 8px 10px;
        margin: 20px 0;
        float: right;
        font-family: 'Kaushan Script', cursive;
      }
    }
  }
}
