!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MyTweet
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{href: :"https://fonts.googleapis.com/css?family=Kaushan+Script|Gloria+Hallelujah|Permanent+Marker", rel: :"stylesheet"}/
  %body
    .header
      .header-title
        My Tweet
      .header-btn
        .header-btn__box
          Log In
        .header-btn__box
          Sign Up

      = yield

    .footer
      .footer-container
        Copyright © 2019 Iwai Inc. All Rights Reserved.
